body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-image: url('image/background.jpg'); 
    background-size: cover;
    width: 900px;
    padding: 180px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center;
    position: relative;
    background-color: #fff0f5;
}
.header {
    font-size: 39px;
    font-weight: bold;
    color: #ff69b4;
    margin-bottom: 15px;
}
.content {
    font-size: 30px;
    line-height: 1.6;
    color: #444;
}
.content p {
    margin: 10px 0;
}
.profile-pic {
    width: 270px; 
    height: 270px; 
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 200px; 
    right: 70px;
    border: 3px solid white;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons {
    margin-top: 60px; 
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button:hover {
    background-color: #e0e0e0;
}
.button:active {
    background-color: #ccc;
}